<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      All Posts
    </title>
    <link rel="stylesheet" type="text/css" href="/site.css" />
    <link rel="canonical" href="http://tylerrhodes.net{{ .RelPermalink }}" />
  </head>
  <body>

    <div id="main-container">

    <!-- <a href="/">Home</a> | <a href="/series/tech/">Technical Posts </a> | <a href="/series/book-review">Book Reviews</a> | <a href="/series/personal"> Other/Personal </a> -->

    {{ partial "head/top-nav.html" }}
    
    <h1>All Posts</h1>

    {{ range .Pages.GroupByDate "January 2006" }}

    <h3> {{ .Key }} </h3>


      {{ range .Pages }}

        <a href="{{.Permalink}}">{{.Title}}</a> <br />

      {{ end }}


	{{ end }}
    </div>

    <script type="application/javascript">
      var doNotTrack = false;
      if (!doNotTrack) {
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-116483631-1', 'auto');
        
        ga('send', 'pageview');
      }
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      
  </body>
</html>
