<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />

    <meta name="title" content="Tyler Rhodes Online" />
    <meta name="description" content="Tyler Rhodes is a Software Developer and IT professional located in Connecticut, USA.  This is his blog concerning technology and other topics." />
    <meta name="author" content="Tyler Rhodes" />
    <meta name="copyright" content="Tyler Rhodes" />
    <meta name="keywords" content="programming, tech, book reviews, clojure, ansible, terraform, python, c#, f#, SQL" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@itcheeze" />
    <meta name="twitter:creator" content="@itcheeze" />
    <meta name="twitter:title" content="Tyler Rhodes Online" />
    <meta name="twitter:description" content="Tyler Rhodes is a Software Developer and IT professional located in Connecticut, USA.  This is his blog concerning technology and other topics." />
    <meta name="twitter:image" content= "https://tylerrhodes.net/mypic.jpg" />
    <meta name="twitter:url" content="https://tylerrhodes.net/" />
    
    <meta name="og:url" content="https://tylerrhodes.net/" />
    <meta name="og:title" content="Tyler Rhodes Online" />
    <meta name="og:image" content="https://tylerrhodes.net/mypic.jpg" />
    <meta name="og:description" content="Tyler Rhodes is a Software Developer and IT professional located in Connecticut, USA.  This is his blog concerning technology and other topics." />
    <meta name="og:type" content="blog" />
    
    <link rel="canonical" href="http://tylerrhodes.net/" />

    <title>
      Tyler Rhodes Online
    </title>

    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6003278fd6f99f0018f9ab36&product=inline-follow-buttons' async='async'></script>
    <link rel="stylesheet" type="text/css" href="/site.css" />
    {{ if .RSSLink }}
         <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
         <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>

  <body>
    <div id="main-container"> 

        {{ partial "head/top-nav.html" }}

      <div style="text-align:justify; text-justify:inter-word;">
        <h1>Tyler Rhodes</h1>
        <img id="mypic" style="float:left; margin:0px 15px 15px 2px;" src="mypic.jpg" /> 
        <p>
          I'm a Software Developer located in Norwalk, CT.
	</p>

	<p>
	  This is my blog where I write about programming topics, book reviews, and assorted other things
	  that are of little interest to the inhabitants of the internet.

	  <br /><br />This has been confirmed by
	  Google Analytics.<br />
	  
	</p>

	<p>
	  I currently program in C#, Python, JavaScript, and Clojure.  I'm interested in functional programming,
	  databases, web development and compilers in the technical space.
	</p>
	<p>
	   My email is 
          <a href="mailto:tylerlrhodes@gmail.com">tylerlrhodes@gmail.com.</a>
        </p>
	
<!--        <p>
          This blog is going to focus on developing Web Applications on AWS, using modern development 
          practices and addressing fundamental concerns and basic knowledge.  Developing modern
          Web Applications is complicated and entails many factors of software development.
        </p>
        <p>
          You can follow it using <a href="{{ .RSSLink }}">RSS</a> or subscribe to my newsletter where 
          I'll send out news and updates for new entries and updates!
        </p>
          <iframe src="https://tylerrhodes.substack.com/embed" height="180" width="95%"
            style="" frameborder="0" scrolling="no"></iframe>

-->
      </div>


<div style="clear:both">
      <h2>
        Recent Technical Posts:
      </h2>
      {{ $t := slice "book-review" }}
      {{ range first 5 (where .Data.Pages ".Params.series" "==" "tech") }}
        <div class="card">
          <a class="fp-card-link" href="{{ .Permalink }}">
          <div class="container">
            <div class="fp-link-title">{{ .Title }}</div>
            <div class="fp-link-description">{{ .Params.Description }}</div>
            <div class="fp-link-published">Published: {{ .PublishDate.Format "January 2, 2006" }}</div>
          </div></a>
        </div>
      {{ end }} <br />

      <h3>Follow me on Social Media:</h3>
      <div class="sharethis-inline-follow-buttons"></div>
      <br />
      &copy; Copyright 2021, Tyler Rhodes
      </div>
    </div>
      <!-- ShareThis END -->
<!--End mc_embed_signup-->

    <script type="application/javascript">
      var doNotTrack = false;
      if (!doNotTrack) {
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-116483631-1', 'auto');
        
        ga('send', 'pageview');
      }
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      
  </body>
</html>

