<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />

    <meta name="title" content="Tyler Rhodes Online" />
    <meta name="description" content="Tyler Rhodes is a Software Developer and IT professional located in Connecticut, USA.  This is his blog concerning technology and other topics." />
    <meta name="author" content="Tyler Rhodes" />
    <meta name="copyright" content="Tyler Rhodes" />
    <meta name="keywords" content="programming, tech, book reviews, clojure, ansible, terraform, python, c#, f#, SQL" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@itcheeze" />
    <meta name="twitter:creator" content="@itcheeze" />
    <meta name="twitter:title" content="Tyler Rhodes Online" />
    <meta name="twitter:description" content="Tyler Rhodes is a Software Developer and IT professional located in Connecticut, USA.  This is his blog concerning technology and other topics." />
    <meta name="twitter:image" content= "https://tylerrhodes.net/mypic.jpg" />
    <meta name="twitter:url" content="https://tylerrhodes.net/" />
    
    <meta name="og:url" content="https://tylerrhodes.net/" />
    <meta name="og:title" content="Tyler Rhodes Online" />
    <meta name="og:image" content="https://tylerrhodes.net/mypic.jpg" />
    <meta name="og:description" content="Tyler Rhodes is a Software Developer and IT professional located in Connecticut, USA.  This is his blog concerning technology and other topics." />
    <meta name="og:type" content="blog" />
    
    <link rel="canonical" href="http://tylerrhodes.net/" />

    <title>
      Tyler Rhodes Online | tylerlrhodes@gmail.com
    </title>
    <link rel="stylesheet" type="text/css" href="/site.css" />
    {{ if .RSSLink }}
         <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
         <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>

  <body>
    <div id="main-container"> 

      <div style="text-align:justify; text-justify:inter-word">
      <h1>Tyler Rhodes</h1>
      <img id="mypic" style="float:left; margin:0px 15px 15px 2px;" src="mypic.jpg" />

	<p>
	  Welcome to my blog.
    </p>
      <p>
        I'm a Software Engineer located in Norwalk, CT.
      </p>
      <p>
        I have over 15 years of professional experience in the IT field, having worked in a variety of roles from desktop support
        to network consultant until most recently working as a software engineer.  
  </p>

      <p>
        I am currently open to job/contract opportunities close to Norwalk Connecticut or remote.
      </p>

      </div>
      
	<h3>
	  Recent Technical Entries:
	</h3>
  {{ $t := slice "book-review" }}
	{{ range first 5 (where .Data.Pages ".Params.series" "==" "tech") }}
	   <a class="fp-post-link" href="{{ .Permalink }}">{{ .Title }}</a> <br />
	{{ end }} <br />
           <a href="/series/tech/">Technical Posts</a> |
           <a href="/series/book-review/">Book Reviews</a> |
           <a href="/series/personal/">Other / Personal</a> |
           <a href="/posts/">All</a> <br />
	   <!--a href="{{ .RSSLink }}">RSS Feed</a --> 

<!--End mc_embed_signup-->

       	<h3>Contact/Links:</h3>
         <a href="/tylerrhodes-resume.pdf">Resume</a> <br />
  <a href="mailto:tylerlrhodes@gmail.com">Email Me</a> <br />
  <a href="https://linkedin.com/in/rhodest">Linkedin</a> <br />
	<a href="https://github.com/tylerlrhodes/">Github</a> <br />
	<a href="https://twitter.com/itcheeze">Twitter</a> <br />
	<a href="https://www.facebook.com/tyler.rhodes.5648">Facebook</a> <br />

	      


    	<!-- Begin Mailchimp Signup Form -->



    </div>

    <script type="application/javascript">
      var doNotTrack = false;
      if (!doNotTrack) {
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-116483631-1', 'auto');
        
        ga('send', 'pageview');
      }
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      
  </body>
</html>

