
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-size: 16px;
    background-color: rgb(FF,FF,FF);
}

* {
    font-family: 'Times New Roman', arial, sans-serif;
}
                     
body, input, button {
    font-size: 1.3rem;
}

p,a,ul,li {
    line-height: 1.4;
}

a {
    text-decoration: underline;
    color: black
}

a:hover {
    text-decoration: none;
}
.fp-post-link {
    display: inline-block;
    width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

.fp-card-link {
    text-decoration: none;
}

.fp-link-description {
    color: black;
    font-size: 1.2rem;
}

.fp-link-published {
    color: grey;
    font-size: 1.1rem;
}

.fp-link-title {
    color: blue
}

h1 {
    font-size: 3.0rem;    
}
article > div > header > h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 0px;
}
h2 {
    font-size: 1.6rem;
}
article > div > h2 {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
}
h3 {
    font-size: 1.4rem;
}

code, code > * {
    font-size: 0.8rem;
}

.highlight {
    width: auto;
    overflow: auto;
}

@media only screen and (min-device-width: 812px) {
    #main-container {
	margin: auto;
	width: 700px;
	padding: 15px;
	text-align: left;
    }
    #post-container {
	margin: auto;
	width: 700px;
	padding: 15px;
	text-align: left;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    #main-container {
	margin: 0px;
	width: 100%;
	padding: 0px;
	text-align: left;
    }
    #post-container {
	margin: 0px;
	width: 100%;
	padding: 0px;
	text-align: left;
    }

}

#mypic {
    border-radius: 25px;
    margin: 15px 0px 15px 0px;
}

/* Gist formatting */

body .gist {
    font-size: 0.8rem;
    line-height: 1.2;
}

body .gist .highlight {
    font-size: inherit;
}

body .gist .highlight td {
    font-family: inherit;
    font-size: inherit;
}

blockquote {
    display: block;
    margin: 2rem;
    font-size: 1rem;
    font-style: italic;
    position: relative;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 0px 0px 10px 0px;
    border: 1px grey dotted;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 8px;
  }
